{% include 'navbar.html' %}

{% block content %}
<style>
 .card {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Rest of the CSS classes remain the same */


.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.delete-form {
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 10px;
}

.btn-secondary {
  color: #333;
  background-color: #eee;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
}

.btn:hover {
  opacity: 0.8;
}

</style>
<div class="card">
    <div class="card-body">
      <h2 class="card-title">Confirm Delete</h2>
      <p class="card-text">Do you want to delete "{{ obj }}"?</p>
      <form method="post" action="" class="delete-form">
        {% csrf_token %}
        <div class="form-group">
          <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Delete" class="btn btn-danger">
        </div>
      </form>
    </div>
  </div> 

{% endblock %}
