<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Our Community</h5>
          <p>Our developer community is dedicated to helping each other learn and grow. We provide resources, support, and collaboration opportunities for developers of all skill levels.</p>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Join Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Connect</h5>
          <ul class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <p class="text-center">&copy; 2023 Our Developer Community. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  