{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developers Forum</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_css %}
   
</head>
<body>
    {% block content %}
    <!-- <style>
      .room-container{
        display: grid;
        grid-template-columns: 1fr,3fr;
}
    </style> -->

   
   
    <header>
    
        <div class="jumbotron  jumbotron-fluid jumbotron-sm">

          <div class="row">
            <div class="col-sm-4">
              <img  class="img-fluid img-thumbnail" src="{% static 'images/log.png' %}" alt="Logo">
            </div>
            <div class="col-sm-8">
              <h2 class="display-8 mb-3">
                <span class="text-primary">The</span> <span class="text-danger">Developer's</span> <span class="text-success">Den</span>
              </h2>

            </div>
          </div>
          
          
        </div>
      
        
      
      </header>
      <div class=" col-4 offset-1">
        {% include 'navbar.html' %}

      </div>
      
      <div class="row">
    
        <div class=" col-4 offset-1">
          <strong><h3>Explore Favorite Content</strong></h3>
          <div>
            <a href="{% url 'home' %}">All</a>
          </div>
       
        {% for topic in topics %}
        <div>
          <a href="{% url 'home' %}?={{topic.name}}">{{topic.name}}</a>
        </div>        

        {% endfor %}
        </div>

        <div>
          <h4>{{room_count}} spaces to join</h4>
          <a href="{% url 'create-room' %}">Create Space</a>
          <div>
            {% for room in rooms %}  
  
          <div class="border p-3">
            <a href="{% url 'update-room' room.id %}">Update Space</a>
            <a href="{% url 'delete-room' room.id %}">Delete Space</a>
            <span>@{{room.host.username}}</span>
            
              <h4><a href="/room/{{room.id}}">{{room.name}}</a></h4>
              <small>{{room.topic.name}}</small>
      
          </div>
          {% endfor %}
      

          </div>

        </div>
      </div>

      {% endblock %}

 
      
    
    
</body>
</html>