{% load static %}
<style>
  body {
      background-image: url('{% static "images/background-image.jpg" %}');
  }
</style>
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Developers Forum</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
    {% bootstrap_css %}
   
</head>
<!-- <style>
body {
    background-image: url("{% static '/images/background.jpg'%}");
   
}

</style> -->
<body>
    {% block content %}   
   
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo1.png' %}" width="30" height="30" alt="Logo">
            <span class="ml-2">The Developer's Den</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    
      <div class=" col-4 offset-1">
        {% include 'navbar.html' %}

      </div>
      
      <div class="container my-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h4>Explore Favorite Content</h4>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'home' %}">All</a>
                    </li>
                    {% for topic in topics %}
                    <li class="list-group-item">
                        <a href="{% url 'home' %}?={{topic.name}}">{{topic.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-8">
                <h4>{{room_count}} spaces to join</h4>
                <a href="{% url 'create-room' %}" class="btn btn-success mb-3">Create Space</a>
                {% for room in rooms %}
                
                {% if request.user == room.host %}
               
                

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h5 class="card-title">
                                    Space hosted by:@{{room.host}}
                                    <a href="/room/{{room.id}}">{{room.name}}</a>
                                </h5>
                                <p class="card-text">
                                    {{room.description}}
                                </p>
                                <small class="text-muted">
                                    {{room.topic.name}}
                                </small>
                            </div>
                            <div class="col-md-3 text-md-right">
                                <a href="{% url 'update-room' room.id %}" class="btn btn-sm btn-primary mr-2">Update Space</a>
                            </div>
                            <div class="col-md-3 text-md-right mt-auto">
                                <a href="{% url 'delete-room' room.id %}" class="btn btn-sm btn-danger">Delete Space</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

              
            {% endfor %}

      {% endblock %}

 
      
    
    
</body>
</html>