{% block content %}


<style>
    body {
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,192,203,1) 35%, rgba(255,192,203,0.7) 100%);
}


   .card {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  background: radial-gradient(ellipse at center, #10121a 0%, #232b3e 100%);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 30px;
  text-align: center;
}


.card-header {
  border-radius: 10px 10px 0 0;
  padding: 1.5rem;
}

.card-body {
  border-radius: 0 0 10px 10px;
  padding: 1.5rem;
}

.bg-gradient-radial-purple {
  background: radial-gradient(circle at center, #5c258d, #a77ae0);
}

.bg-gradient-radial-blue {
  background: radial-gradient(circle at center, #085078, #85d8ce);
}

.btn-primary {
  background-color: #5c258d;
  border-color: #5c258d;
  padding: 5px 15px;
  font-size: 15px;
}

.btn-primary:hover {
  background-color: #a77ae0;
  border-color: #a77ae0;
}
.card form {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.card label {
  display: block;
  margin-bottom: 10px;
}

.card input[type="text"],
.card input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #444;
}

input[type="submit"] {
  font-size: 25px;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 15px;
}

input[type="submit"]:hover {
  background-color: #005ea2;
  cursor: pointer;
}


.card p {
  margin-top: 20px;
}

.card a {
  color: #47c9e5;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}


</style>


<div class="container d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-header bg-gradient-radial-purple">
      <h4 class="text-center text-light">{{ page|title }}</h4>
    </div>
    <div class="card-body bg-gradient-radial-blue">
      {% if page == 'login' %}
      <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter your name">
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter a Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="mt-3 text-center">Don't have an account? <a href="{% url 'register' %}">Join us now</a></p>
      </form>
      {% else %}
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="mt-3 text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
      </form>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
