{% block content %}
{% if page == 'login' %}
<div>    
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter your name">
    
        <label>Password</label>
        <input type="text" name="password" placeholder="Enter a Password">
    
        <input type="submit" value="Login">

        <p>Don't have an account join us here</p>
        <a href="{% url 'register' %}">Join us now</a>
    
    </form>
</div>
{%else%}

    
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}


        
            
        
        <input type="submit" value="Register">
        <p>Already have an account login here</p>
        <a href="{% url 'login' %}">Login</a>
        
        
    </form>

</div>
{% endif %}





{% endblock %}