{% load static %}
<script src="https://kit.fontawesome.com/79a1a846e3.js" crossorigin="anonymous"></script>

<style>
    /* Navbar styles */
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:#ddd;
}



.user {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative; /* added */
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer; /* added */
}

.user a {
  margin-left: 10px;
}

/* Dropdown menu styles */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f5f5f5;
  min-width: 120px;
  z-index: 1;
  display: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* add a box shadow */
}


.dropdown a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown a:hover {
  background-color: #ddd;
}

.user:hover .dropdown {
  display: block;
}
.user::after {
    content: "\25BC"; /* Unicode for a down arrow */
    margin-left: 5px;
    font-size: 10px;
  }


/* Search bar styles */
.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input[type="text"] {
  padding: 10px ;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
}

.search button {
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transform: background 0.5s;
}

.search button:hover {
  background: palevioletred;
}

/* Messages styles */
.messages {
  margin-top: 20px;
}

.messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}
.welcome-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}

.welcome {
  display: inline-block;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: linear-gradient(to right, #FFC371, #FF5F6D, #5DBB63);
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.user-page{
  font-size: 18px;
 text-transform: capitalize;
}



</style>

<div class="navbar">
  <div class="welcome-container">    
    <a href="{% url 'home' %}"><img src="{% static 'images/lit.avif' %}" alt="Logo" width="100" height="80"></a>
    <h3 class="welcome">Welcome Back!!</h3>
  </div>
  
  <div class="search">
    <form method="get" action="{% url 'home' %}">
      <input type="text" name="q" placeholder='Search space...'>
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  
  
  <div class="user">
    {% if request.user.is_authenticated %}
    <img src="{% static 'images/avatar.jpeg' %}" class="avatar">
     <a class="user-page" href="{% url 'profile' user.id %}">{{ request.user }}</a>
    <div class="dropdown">
      <a href="{% url 'update-profile' %}">Settings</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
 
</div>



{% if messages %}
<div class="messages">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
